@media (max-width:1230px){
    .snekaer-group__col{
        flex: 0 0 33.333%;
    }
}
@media (max-width:1020px){
    .menu__list-link{
        font-size: 14px;
        line-height: 17px;
    }
}
@media(max-width:940px){
    body{
        padding-top: 50px;
    }
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger::after,
    .header__burger::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::after{
        top: 0;
    }
    .header__burger::before{
        bottom: 0;
    }
    .header__burger span{
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        top: 9px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        bottom: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        top: 9px;
    }
    .menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #3b444b;
        width: 100%;
        height: 100%;
        padding-top: 70px;
        padding-left: 15px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .menu.active{
        top: 0;
    }
    .menu__list-link{
        font-size: 20px;
        line-height: 24px;
    }
    .menu__list-link-cart{
        padding-left: 0;
        padding-right: 29px;
    }
    .menu__list-link-cart::after{
        left: auto;
        right: 0;
    }
    .menu__list-item{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .menu__list-item:last-child{
        margin-bottom: 0;
    }
    .header__inner{
        height: 50px;
    }
    .logo{
        width: 75px;
    }

    .menu__list{
        display: block;
    }
    .slider__content{
        margin-top: 80px;
    }
    .sneakers-group__inner{
        margin-top: 50px;
    }
}
@media(max-width:925px){
    .snekaer-group__col{
        flex: 0 0 50%;
    }
    .footer__inner{
        display: block;
    }
    .footer__item-title{
        margin-top: 20px;
    }
    .footer__menu-list{
        display: none;
    }
    .footer__menu-list.spoiler-active{
        display: block;
        top: 0;
    }
}
@media(max-width:800px){
    .sneaker-cart__inner{
        flex-direction: column;
    }
    .sneaker-cart__content{
        margin-top: 20px;
    }
    .sneaker-cart__content-price{
        text-align: left;
    }
    .sneaker-cart__content-form-btn{
        display: block;
    }
}

@media(max-width:620px){
    .snekaer-group__col{
        flex: 0 0 100%;
    }
    .sneakers-group__title{
        font-size: 24px;
        line-height: 29px;
    }
    .overview__page-link{
        font-size: 12px;
        line-height: 15px;
    }
    .overview__page + .overview__page{
        margin-left: 5px;
    }
}
@media(max-width:500px){
    .overview__page-link{
        font-size: 10px;
        line-height: 12px;
    }
    .sneaker-cart__table-info{
        font-size: 14px;
        line-height: 17px;
    }
    .sneakers-group__title{
        font-size: 20px;
        line-height: 24px;
    }
}
@media(max-width:430px){
    .overview__inner{
        margin-top: 12px;
    }
    .overview__page-link{
        font-size: 7px;
        line-height: 9px;
    }
    .sneaker-cart__table-info{
        margin-top: 20px;
        font-size: 12px;
        line-height: 15px;
    }
    .sneaker-cart__content-title{
        font-size: 22px;
        line-height: 27px;
    }
    .sneaker-cart__inner{
        margin-top: 20px;
    }
}
@media(max-width:350px){
    .footer__logo-title{
        font-size: 30px;
        line-height: 37px;
    }
}