{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'store/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/media.css' %}">

    <link rel="shortcut icon" href="{% static 'store/img/favicon.ico' %}">
    <title>{% block title %}Sneaker Store{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="{% url 'store:index' %}">
                    <img class="logo__img" src="{% static 'store/img/logo-big.png' %}" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Мужские кроссовки</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Женские кроссовки</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Акция</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Избранное</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link menu__list-link-cart" href="#">Корзина</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Поиск</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Профиль</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% if messages %}
    <section class="message">
        <div class="container">
            <div class="message__inner">
                {% for message in messages %}
                <div class="message__item {{ message.tags }}">
                    <p class="message__text">{{ message }}</p>
                    <button class="message__close" type="button">&times;</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    {% block content %}
    {% endblock %}

     <footer class="footer">
        <div class="container">
            <div class="footer__inner">

                    <div class="footer__item-logo">
                        <img class="footer__logo" src="{% static 'store/img/logo-big.png' %}" alt="">
                        <p class="footer__logo-title">SNEAKER STORE</p>
                        <p class="footer__logo-description">
                            Магазин кроссовок и спортивной обуви в Минске. В наличии имеются мужские и женские кроссовки
                            от
                            производителей.
                        </p>
                    </div>
                    <div class="footer__item-catalog">
                        <p class="footer__item-title" onclick="spoiler(123)">
                            КАТАЛОГ
                        </p>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Мужские кроссовки</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Женские кроссовки</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Скидки</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item-about">
                        <p class="footer__item-title">
                            О НАС
                        </p>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Контакты</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Как добраться?</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Информация</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item-help">
                        <p class="footer__item-title">
                            ПОМОЩЬ
                        </p>
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Обратная связь</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">Карта сайта</a>
                            </li>
                            <li class="footer__menu-item">
                                <a class="footer__menu-link" href="#">API</a>
                            </li>
                        </ul>
                    </div>

            </div>
        </div>
        </div>
    </footer>
    <script src="{%  static 'store/js/ajax.js' %}"></script>
    <script src="{%  static 'store/js/scripts.js' %}"></script>
</body>

</html>